{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}ログイン{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" href="/assets/css/login.css" >
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
<div class="head">
  <div class="explain">
  <h2 class="ruby">しゅしゅ</h2>
  <h1 class="title">お 酒 酒 め</h1>
  <p class="sub-title">あなたにとっての最高のお酒を探しませんか？<p>
  </div>
</div>
<div body>
<div class="main box">
  <div class="sub">
    <div class="page-header text-center">
        <h1>ログイン</h1>
    </div>
    <div class="container">
        <div class="box">
            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        <form id="loginForm" method="POST" action="/login/" onsubmit="return hashing(this)">
                            <div class="form-group">
                                <label for="email" class="control-label">ユーザーネーム</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{ email }}" required title="Please enter you username" placeholder="example@gmail.com">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">パスワード</label>
                                <input type="password" class="form-control" id="password" name="password" value="" required title="Please enter your password">
                            </div>
                            {% if error %}
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                </div>
                            {% endif %}
                            <button type="submit" class="link-button btn btn-info btn-lg btn-block">ログイン</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="lead">会員登録は <span class="mu">無料</span> 今すぐ登録！</p>

                    <p><a href="/register/" class="btn btn-info btn-block">今すぐ登録</a></p>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}
<script type="text/javascript" src="/assets/js/sha256.js"></script>
<script type="text/javascript" src="/assets/js/hash.js"></script>
<script>

function hashing(frm){
  const pass = frm.elements.password.value;
  frm.elements.password.value = pass_hash(pass);

  return true;//submit

}
</script>
{% endblock %}
