.main{
  background-color:#d66300;
}
.explain{
  height:100%;
  background-color: rgba(0,0,0,0.5);
}
.body{
  background-image: url('/assets/img/enkai.jpg');
  /*opacity: 1;
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center;*/
  background-size:cover;
}
.body::before{
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
}

.ruby{
  font-size: 2rem;
  padding-top: 40px;
  color: white;
  -webkit-text-stroke: 1px #000;
}
.title{
  color:white;
  -webkit-text-stroke: 1px #000;
  font-size: 5rem;
}
.sub-title{
  margin-top: 40px;
  color: white;
  -webkit-text-stroke: 0.5px #000;
  padding-bottom:40px;
  font-size: 1.5rem;
}
.optext{
  color: #333333;
  padding-top: 20px;
  /*-webkit-text-stroke: 1px #000;*/
  text-align: center;
  font-weight: bold;
  margin-top:20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin:10px;
}
.btn-resize{
  padding: 1rem 5rem 0 5rem;
  padding-bottom: 10px;
}
.op{
}
.sub-main{
  padding-bottom: 20px;
}
.lets{
    color: #333333;
    font-size:  2rem;
}
/*  ここから画像の切り替えについての設定   */
.album {
	margin: auto;
	background-color: white;
	position: relative;
}

.album img {
	width: 50%;
	animation-name: album;
	-webkit-animation-name: album;
	animation-duration: 20s;
	-webkit-animation-duration: 20s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	opacity: 0;
}

.album .img1 {
	display: block;
	margin: 0 auto;
}

.album .img2 {
	animation-delay:5s;
	-webkit-animation-delay:5s;
	position: absolute;
	top: 0;
	left: 25%;
}
.album .img3 {
	animation-delay:10s;
	-webkit-animation-delay:10s;
	position: absolute;
	top: 0;
	left: 25%;
}
.album .img4 {
	animation-delay:15s;
	-webkit-animation-delay:15s;
	position: absolute;
	top: 0;
	left: 25%;
}

@keyframes album {
	0% {
		opacity: 0;
	}

	6.25% {
		opacity: 1;
	}

	18.75% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
}

@-webkit-keyframes album {
	0% {
		opacity: 0;
	}

	6.25% {
		opacity: 1;
	}

	18.75% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
}
h2{
  padding:1em;
}
.lets{
  padding:1em;
}
.small-size-text{
  text-size:0.5em;
  color:#777777;
}
h4{
  padding:0.25em;
}
.feature-osyusyume{
  padding-left: 0.5em;
  padding-right: 0.5em;
  color:#555555;

}
