{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}新規会員登録{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" href="/assets/css/register.css" >
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
<div class="wrap">
  <div class="wrap-inner">
    <div class="kain text-center">
        <h1>会員登録</h1>
    </div>
    <div class="container">
        <div class="box">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <form id="loginForm" method="POST" action="/register/" onsubmit="return formatCheck(this)">
                            {% if error %}
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="email" class="control-label"> <span class="badge badge-danger">必須</span> メールアドレス</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{ email }}" required title="Please enter you email" placeholder="example@gmail.com">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label"> <span class="badge badge-danger">必須</span> パスワード(12文字以上)</label>
                                <input type="password" class="form-control" id="password" name="password" value="" required title="Please enter your password" placeholder="******" minlength="12">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label"> <span class="badge badge-danger">必須</span> パスワード再</label>
                                <input type="password" class="form-control" id="password_re" name="password_re" value="" required title="Please re enter your password" placeholder="******" minlength="12">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label"> <span class="badge badge-danger">必須</span> ニックネーム</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{ name }}" required title="Please enter your name" placeholder="Toru">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label"> <span class="badge badge-danger">必須</span>年齢</label>
                                <input type="number" min="20" class="form-control" id="age" name="age" value="{{ age }}" required title="Please enter your age" placeholder="23">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">利用規約</label>
                                <textarea class="form-control" rows="10" readonly>
                                  {% include 'register/disclaimer.twig'%}
                                </textarea>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="agree"><label for="agree">上記利用規約に同意します</label>
                            </div>
                            <button type="submit" id="submit-button" class="btn btn-info btn-block sinki">新規登録</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}
<script type="text/javascript" src="/assets/js/sha256.js"></script>
<script type="text/javascript" src="/assets/js/hash.js"></script>
<script>

function formatCheck(frm){
  if(frm.elements.agree.checked==true){

      const pass = frm.elements.password.value;
      const pass_re =frm.elements.password_re.value;
      frm.elements.password.value = pass_hash(pass);
      frm.elements.password_re.value = pass_hash(pass_re);

      return true;//submit

  }else{
    alert("利用規約への同意が必要です。");
    return false;
  }
}
</script>{% endblock %}
